blockquote {
    
    background: var(--darkBlue4);
    text-align: left;
    
    padding: var(--spacer);
    border-radius: 3.93px;
    
    height: 160px;

    @media(min-width: 57em){
       
            height: 200px;
        
    }
    
}


